body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
button{
    font-size: 28px;
    padding: 0px 24px;
    border: none;
    border-radius: 3px;
}
input{
  
    background-color: rgb(78, 78, 78);
    border: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding: 15px 10px;
    width: 92%;
    text-align: end;
    border-radius: 10px;
}
.operator{
    padding: 0px 28px;
}
.d {
    padding: 0px 23px;
}
.b{
    padding: 0px 24px;
}
.plus{
    padding: 0px 23px;
}
#clear{
    padding: 0px 18px;
    background-color: rgb(233, 169, 51);
}
#calculate{
    padding: 0px 19px;
}
body div div{
    padding: 13px 0px 0px 0px;
}
.a{
display: flex;
flex-direction: column;
gap: 12px;
padding: 0px;
}

.center{
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
    width: 270px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 290px;
   padding: 0px 5px;
   box-shadow: 10px 10px 5px 0px rgba(45, 45, 45, .2);
}